<ul>
  {{#each records}}
  <li>
    <div>{{this.id}}</div>
    <div>{{this.name}}</div>
    <div>{{this.date}}</div>
    <div>{{this.amount}}</div>
    <div>{{this.category}}</div>
  </li>
  {{/each}}
</ul>

<a href="./records/new"> create </a>




