<form action="">
  <label for="category">類別</label>
  <select name="category">
    <option>家居物業</option>
    <option>交通出行</option>
    <option>休閒娛樂</option>
    <option>餐飲食品</option>
    <option>其他</option>
  </select>
</form>

<div id="totalAmount">
  <p>總金額：</p>
  <h4>{{totalAmount}}</h4>
</div>

<div>
  {{#each records}}
  <div>
    <i>{{this.category}}</i>
    <h3>{{this.name}}</h3>
    <p>{{this.date}}</p>
    <p>{{this.amount}}</p>
  </div>
  <a href="./records/{{ this._id}}/edit">修改</a>
  {{/each}}
</div>
<a href="./records/new">新增支出</a>